black==26.3.1
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
coverage==7.13.1
idna==3.11
iniconfig==2.3.0
isort==7.0.0
mypy-extensions==1.1.0
packaging==25.0
pathspec==1.0.2
platformdirs==4.5.1
pluggy==1.6.0
pytest==9.0.2
pytest-cov==7.0.0
requests==2.32.5
urllib3==2.7.0
